<h2 xmlns="http://www.w3.org/1999/html">Latest posts:</h2>
<br/>
<% @resaults.each do |post| %>
  <p>
    <%= post['content'] %>
    <br/>
    <br/>
   Added at <%= post['created_date'] %>
    <br/>
    <br/>
    <a href="/post/<%= post['id'] %>">Comments</a>
  </p>
  <hr/>
<% end %>
